node_modules
.docusaurus
build
.cache
dist
public/service-worker.js
static/css/main.css
static/js/bundle.js
static/js/bundle.js.map
static/js/main.js
static/js/main.js.map
coverage
.env.local
.env.development.local
.env.test.local
.env.production.local
yarn-error.log
yarn.lock
package-lock.json
npm-debug.log*
